<!-- Sección de Quiénes Somos -->
<section id="quienes-somos" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="../../../assets/quienessomos.jpg" class="img-fluid" alt="Imagen de Quiénes Somos">
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4">Quiénes Somos</h2>
                <p>Somos una empresa dedicada a proporcionar productos de alta calidad que te harán sentir increíble. Nuestra pasión por la excelencia nos impulsa a ofrecer lo mejor a nuestros clientes.</p>
                <p>En BellAroma, nos esforzamos por crear experiencias únicas a través de nuestras colecciones de perfumes para mujeres, hombres y sets exclusivos. Cada fragancia está cuidadosamente elaborada para satisfacer los gustos más exigentes.</p>
            </div>
        </div>
    </div>
</section>
